header{
    position:static;
}

p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #666666;
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.first-head-element{
    margin: 10%;
}

.first-head{
    width: 60%;
    margin-left: 20%;
}

hr{
    background-color: #00bb00;
    height: 2px;
}

.second-head{
    width: 90%;
    margin-left: 10%;
}

.third-head-element{
    color:#ffffff;
}

.third-head{
    background-color: #cc0000;
}

.third-head-table{
    width: 60%;
    margin-left: 20%;
}

.crop{
    overflow:hidden;
}

.fon{
    margin: -10% 0% -20% 0%;
}